# Production direct dependencies (input for pip-compile)
beautifulsoup4
nuitka
numpy
onnxruntime
opencc-python-reimplemented
opencv-python-headless
pillow
pyclipper
pyside6
pyside6-fluent-widgets
rapidfuzz
requests
shapely
